@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Green_Eyes_Back</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dropdownmenu.css" />
    <link rel="stylesheet" href="~/css/sweetalert.css" />
     <style>
    

    </style>
</head>
<body >
    <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
           
                <div class="mynav_navbar">

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Green Eyes</a>
               
                    @if(Context.Session.GetString("Name") != null)
                    {
                        <div class="mynav_dropdown">

                            <button class="mynav_dropbtn">

                                <i class="fa fa-caret-down"></i>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Minha Plantação</a>

                            </button>

                            <div class="mynav_dropdown-content">
                                
                                @if (Context.Session.GetString("Tipo") == "1")
                                {// permissão de adm
                                    <a asp-area="" asp-controller="User" asp-action="Create">Cadastrar Usuário</a> 
                                    <a asp-area="" asp-controller="User" asp-action="Index">Gerenciar Usuários</a> 
                                }
                               
                                <a asp-area="" asp-controller="Diagnostico" asp-action="Index">Meus diagnósticos</a>

                                <a asp-area="" asp-controller="Foto" asp-action="Index">Minhas imagens</a>

                            </div>

                        </div>



                         <div class="mynav_dropdown">
                     
                        <button class="mynav_dropbtn">
                        
                            <i class="fa fa-caret-down"></i>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Context.Session.GetString("Name")</a>

                        </button>

                        <div class="mynav_dropdown-content">

                            <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>

                            <a asp-area="" asp-controller="User" asp-action="AlterarSenha">Alterar senha</a>

                        </div>

                    </div>

                      
                    }
                    else
                    {
                       <a class="nav-link text-dark" asp-area="" asp-controller="Plantacao" asp-action="Create">Cadastrar plantação</a>

                       <a class="nav-link text-dark loginMenuBar"  style="text-align:right"asp-area="" asp-controller="Login" asp-action="Index">Login</a>

                    }                  
                </div>
            </div>
        </nav>

    </header>
    <div style=" background-image:url('/images/imagemfundo.png'); background-size:cover; background-attachment:fixed; height:100vh;">
        <div class="container ">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Green_Eyes_Back - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
