@using Green_eyes_server.Model
@model PlantacaoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url('images/imagemfundo.png')">
    <h2>Cadastro da Plantação</h2>
    <form asp-action="Save" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />


        <label for="Nome" class="control-label">Nome</label>
        <input type="text" Name="plantacao" value="@Model.plantacao" class="form-control" />
        <span asp-validation-for="plantacao" class="text-danger"></span>
        <br />

        <input type="submit" value="Salvar dados" class="btn-info" />
        &nbsp;&nbsp;&nbsp;
        <a href="/Jogador/index" class="btn-light">Voltar</a>
        <br />
    </form>
</div>