
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div >
    <h2>Selecione um periodo para filtrar </h2>

        @if (@Model != null)
        {
            foreach (string foto in @Model.Images)
            {
                
            }
        }
    </div>
</body>

